:root {
  --md-primary-fg-color:        #0b5091;
  --md-primary-fg-color--light: #0b5091;
  --md-primary-fg-color--dark:  #0b5091;

  --md-accent-fg-color: #f6c856;
  --md-accent-fg-color--light: #f6c856;
  --md-accent-fg-color: #f6c856;
}